# Maven / Java
target/
*.class

# IntelliJ IDEA
.idea/
*.iml

# OS
.DS_Store

# Spring Boot configuration
src/main/resources/application.yml
target/
.idea/
*.iml
.classpath
.project
*.class
bin/
# dossiers d'uploads
uploads/
auditDoc/
*.pdf
*.docx
*.zip
*.mp4
