api:
  base:
    url: http://localhost:8080
  ai:
    api:
      url: https://api.openai.com/v1/chat/completions
      key: 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
    model: gpt-3.5-turbo
    max:
      tokens: 2000
    temperature: 0.7
    simulation:
      mode: auto




spring:
  datasource:
    url: jdbc:postgresql://aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true
    username: postgres.ziyevqgoffoejasscxyg
    password: WcDmGFscwNTZL6pY

    hikari:
      maximum-pool-size: 5
      minimum-idle: 1
      idle-timeout: 10000
      max-lifetime: 30000
      connection-test-query: SELECT 1
      validation-timeout: 5000

      data-source-properties:
        prepareThreshold: 0

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: never
